@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: max(3.5rem, 6vh); */
  scroll-padding-top: 7em;
}

/* offset scroll target to compensate for the page header */
:target:before {
  content: "";
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
	line-height: 1.7;
	background: white;
	letter-spacing: 0.03em;
}

/* Used in conjunction with js to stop all transitions when the window is being resized. This prevents an artifact where
   the navbar appears open and then transitions to the closed state (when the media query boundary is crossed). */
body.stop-transitions * {
  transition: none !important;
}

.clear {
	clear: both;
	height: clamp(2em, 5vmax, 3em);
}

#page-wrap {
	max-width: 1100px;
  margin: 0px auto;
	padding: 1em;
}

a {
	color: #757575;
	text-decoration: none;
	border-bottom: 1px dotted #757575;
}

a:hover {
	border-bottom-style: solid;
	color: black;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
  padding-bottom: 0.7em;
}

.publication_figure {
  width: min(250px, 100%)
}

.publication_figure > img {
	max-width: min(100%, 250px);
}

.publication_text > img {
    max-width: min(100%, 250px);
}

/* used to set a fixed width font */
.fixed {
	font-family: "Courier", monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2.5em;
  align-items: center;
}

/* To center the image within its div */
.grid-container > .publication_figure {
  display: grid;
  align-items: center;
}

/* SECTION */

section {
  padding-top: 4vh;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__pic-container img {
  width: 400px; 
  height: 400px;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 500;
}

.section__text__p1 {
  text-align: center;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.section__text__p2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

article .icon {
  width: 6rem; 
  height: 6rem;
  border-radius: 10px;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 500;
  font-family: "Poppins", sans-serif; 
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1 {
  border: rgb(53,53,53) 0.1rem solid;
}

.btn-color-1:hover {
  cursor: pointer;
  background: rgb(53,53,53,0.5);
}


.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.details-container {
  display: flex;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* TRAVELING SECTION */

#traveling {
  position: relative;
  margin-bottom: 50px;
  padding: 10px;
}

.traveling-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;

}

.article {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: pointer;
}

article .icon:hover {
  cursor: pointer;
}

/* HOBBIES SECTION */

#hobbies {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.hobby-img {
  border-radius: 2rem;
  width: 90%;
}

.hobby-title {
  margin: 1rem;
  color: black;
}

.hobbies-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}






  





/* Switch to a single column (paper description below image) if the screen is small.
   Make the gap between an image and its text smaller than the gap between two different publications.*/
@media only screen and (max-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  .grid-container > .publication_text {
    margin-bottom: 2em;
  }
}

/* Make table more readable by adding alternate colors, with special handling for the multi-rows */
tr:nth-child(2n+9),tr:nth-child(6),tr:nth-child(7) {
  background-color: #f5f5f5;
}

td {
  padding-right: 2em;
}

span.newstuff {
	color: #d100d1;
}

span.paper {
  color: #c75300;
}

em {
  color: #aa1d1d;
}

#email {
  float: right;
}

/* footer with social icons */

footer {
  background-color: #eaeaea;
  text-align: center;
  width: 100%;
}

footer i {
  margin: 20px 5px;
  transform: scale(1.0);
  transition-duration: 0.2s;
}

footer i:hover {
  margin: 20px 5px;
  transform: scale(1.2);
  transition-duration: 0.2s;
}

footer a {
  color: #757575;
  text-decoration: none;
  border-bottom: none;
}

footer a:hover {
  color: #757575;
  border-bottom: none;
}

/* Set different hover colors per icon */
footer i[class*="ai-google-scholar"]:hover {
  color: #4b87ea;
}
footer i[class*="ai-semantic-scholar"]:hover {
  color: #e0bf48;
}
footer i[class*="fa-youtube"]:hover {
  color: #e30707;
}
footer i[class*="fa-x-twitter"]:hover {
  color: black;
}
footer i[class*="fa-linkedin"]:hover {
  color: #0a66c2;
}
footer i[class*="fa-envelope"]:hover {
  color: black;
}

/* bib tooltips */

.bib {
  color: #757575;
  text-decoration: none;
  border-bottom: 1px dotted #757575;
}

.bib_tooltip {
  line-height: 1.2;
  font-size: 0.8em;
  min-width: min(600px, 100%);
}

